services:

  pgdb:
    container_name: pgdb
    image: postgres:16
    env_file:
      - .env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:ro
    
  mongodb:
    image: mongo:6.0
    environment:
      MONGO_INITDB_DATABASE: librechat
    volumes:
      - ./mongo_data:/data/db
 

  litellm:
    image: ghcr.io/berriai/litellm:main-latest
    container_name: litellm
    ports:
      - "5002:4000"
    env_file:
      - .env
    volumes:
      - ./litellm/config.yaml:/app/config.yaml
    command: ["--port", "4000", "--config", "/app/config.yaml"]

  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    env_file:
     - .env
    ports:
      - "4000:8080"
    restart: unless-stopped
    volumes:
      - ./keycloak/realm-librechat.json:/opt/keycloak/data/import/realm-librechat.json:ro
      - ./keycloak/providers:/opt/keycloak/providers

  librechat:
    #image: ghcr.io/danny-avila/librechat:latest
    build:
      context: .
      dockerfile: Dockerfile.librechat
    container_name: librechat
    env_file:
      - .env
    ports:
      - "3000:3080"
    volumes:
      - type: bind
        source: ./librechat/librechat.yaml
        target: /app/librechat.yaml

    extra_hosts:
      - "localhost:host-gateway"
    
  provisioner:
    build: ./provisioner
    environment:
      PORT: ${PROVISIONER_PORT}
      WEBHOOK_SHARED_SECRET: ${WEBHOOK_SHARED_SECRET}
      LITELLM_URL: http://litellm:4000
      LITELLM_ADMIN_KEY: ${LITELLM_MASTER_KEY}
      KEYCLOAK_REALM: ${PROVISIONER_KEYCLOAK_REALM}
      DEFAULT_TEAM_ALIAS: ${PROVISIONER_DEFAULT_TEAM_ALIAS}
      DEFAULT_TEAM_ID: ${PROVISIONER_DEFAULT_TEAM_ID}
      KEYCLOAK_BASE_URL: http://keycloak:8080
      KEYCLOAK_ADMIN_REALM: ${PROVISIONER_KEYCLOAK_REALM}
      KEYCLOAK_ADMIN_CLIENT_ID: ${PROVISIONER_KEYCLOAK_ADMIN_CLIENT_ID}
      KEYCLOAK_ADMIN_CLIENT_SECRET: ${PROVISIONER_KEYCLOAK_ADMIN_CLIENT_SECRET}
    ports:  
      - "8081:8081"

