# POSTGRESQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

KC_DB_USER=kc
KC_DB_PASSWORD=kc_pass

LITELLM_DB_USER=litellm
LITELLM_DB_PASSWORD=litellm_pass

# KEYCLOACK
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://pgdb:5432/kc
KC_DB_USERNAME=kc
KC_DB_PASSWORD=kc_pass

KC_HOSTNAME=localhost
KC_PROXY=edge
KC_HOSTNAME_STRICT='false'
KC_HOSTNAME_STRICT_HTTPS='false'

KC_LOG_LEVEL=info
KC_METRICS_ENABLED='true'
KC_HEALTH_ENABLED='true'

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KC_PROXY_HEADERS=xforwarded

WEBHOOK_SHARED_SECRET=generatestring
KC_EVENTS_ENABLED=true
KC_ADMIN_EVENTS_ENABLED=true
KC_EVENTS_LISTENERS=jboss-logging,ext-event-webhook
WEBHOOK_URI=http://provisioner:8081/keycloak/events
KC_LOG_LEVEL=INFO,org.keycloak.events:DEBUG,io.phasetwo.keycloak:DEBUG


# LIBRECHAT
NODE_ENV=production
MONGO_URI=mongodb://mongodb:27017/LibreChat

DOMAIN_CLIENT=http://localhost:3000
DOMAIN_SERVER=http://localhost:3000
TRUST_PROXY=true


CREDS_KEY=change_me
CREDS_IV=change_me
JWT_SECRET=changeme
JWT_REFRESH_SECRET=changeme

ALLOW_UNVERIFIED_EMAIL_LOGIN=true
ALLOW_SOCIAL_LOGIN=true

LOGIN_MAX=60
LOGIN_WINDOW=5
REGISTER_MAX=60
REGISTER_WINDOW=60

OPENID_ISSUER=http://localhost:4000/realms/librechat
OPENID_CLIENT_ID=librechat-client
OPENID_CLIENT_SECRET=generate_me_from_librechat
OPENID_SESSION_SECRET=1233456
OPENID_CALLBACK_URL=/oauth/openid/callback
OPENID_SCOPE="openid profile email"
#OPENID_REQUIRED_ROLE=Libre-Chat
#OPENID_REQUIRED_ROLE_TOKEN_KIND=access
#OPENID_REQUIRED_ROLE_PARAMETER_PATH=realm_access.roles

# Optional: redirects the user to the end session endpoint after logging out
OPENID_USE_END_SESSION_ENDPOINT=true


# LITELLM
DATABASE_URL=postgresql://litellm:litellm_pass@pgdb:5432/litellm
OPENAI_API_KEY=sk-1234
ANTHROPIC_API_KEY=sk-1234
MISTRAL_API_KEY=123abc
LOG_LEVEL=info
STORE_MODEL_IN_DB=true
LITELLM_SALT_KEY=change_me
LITELLM_MASTER_KEY=sk-change_me

# NODE.JS PROVISIONER
PROVISIONER_PORT=8081
PROVISIONER_KEYCLOAK_REALM=librechat
PROVISIONER_DEFAULT_TEAM_ALIAS=students
PROVISIONER_DEFAULT_TEAM_ID=paste_lite_llm_students_team_id
PROVISIONER_KEYCLOAK_ADMIN_CLIENT_ID=provisioner-admin
PROVISIONER_KEYCLOAK_ADMIN_CLIENT_SECRET=generate_me_for_provisioner-admin